<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-heytz-touch-id"
        version="3.2.0">

    <name>Touch ID</name>

    <description>
        Scan the fingerprint of your user with the TouchID sensor (iPhone 5S, iPhone 6(S), ..)
    </description>

    <author>Eddy Verbruggen</author>

    <license>MIT</license>

    <keywords>TouchID, Touch ID, Fingerprint, Biometric</keywords>

    <repo>https://github.com/EddyVerbruggen/cordova-plugin-touchid.git</repo>

    <issue>https://github.com/EddyVerbruggen/cordova-plugin-touchid/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module src="www/TouchID.js" name="TouchID">
        <clobbers target="window.plugins.touchid"/>
    </js-module>

    <!-- ios -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="TouchID">
                <param name="ios-package" value="TouchID"/>
            </feature>
        </config-file>

        <framework src="LocalAuthentication.framework"/>
        <framework src="Security.framework"/>

        <header-file src="src/ios/TouchID.h"/>
        <source-file src="src/ios/TouchID.m"/>
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="TouchID">
                <param name="android-package" value="com.heytz.touchid.HeytzTouchid"/>
            </feature>
        </config-file>
        <source-file src="src/android/HeytzTouchid.java" target-dir="src/com/heytz/touchid/"/>
        <!--<source-file src="src/android/sdk/ITouchid.java" target-dir="src/com/heytz/touchid/sdk/"/>-->
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <!--<uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY"/>-->
            <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
        </config-file>
        <framework src="com.android.support:support-core-utils:24.2.1+"/>
    </platform>
</plugin>
